
.icon-cog:before { content: '\e800'; } /* '' */
.icon-chart-pie-outline:before { content: '\e801'; } /* '' */
.icon-users-outline:before { content: '\e802'; } /* '' */
.icon-group:before { content: '\e803'; } /* '' */
.icon-thumbs-up:before { content: '\e804'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
